body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #090909;
    box-shadow: 0 2px 10px #000;
}

.logo {
    color: #123add;
    font-weight: bold;
    font-size: 24px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    position: relative;
}

nav a.active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #250ddb;
}

.contact-button {
    background: rgb(223, 206, 10);
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
}

.intro {
    max-width: 60%;
}

.intro h1 {
    font-size: 40px;
    margin: 20px 0;
}

.intro h1 span {
    color: #0c10ed;
}

.desc {
    font-size: 20px;
    color: #ccc;
    margin: 20px 0;
}

.socials a {
    display: inline-block;
    margin-right: 15px;
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 20px;
}

.btn {
    display: inline-block;
    background: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 25px;
    margin-top: 25px;
    text-decoration: none;
}

.profile-pic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #0a91df;
    box-shadow: 0 0 20px #108cb6;
}